#heading {
    text-align:center;

}
#para {
    text-align: left;
    background-color: burlywood;
    color: rgb(143, 10, 10);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}




















